<!-- Page Content -->
<div class="container">

    <div class="row">
        <div class="col-lg-12 text-center">
            <h1>Dorbo</h1>
            <p class="lead">Dorbo Lives!</p>
        </div>
    </div>
    <!-- /.row -->

</div>
<!-- /.container -->
